@use './variables.scss';

.navbar_wrap {
  transform: translateY(0);
  transition: transform variables.$duration-color-change variables.$ease-power2-out,
    background-color variables.$duration-color-change variables.$ease-power2-out,
    backdrop-filter variables.$duration-color-change variables.$ease-power2-out !important;
}

.navbar_wrap.is-hidden {
  transform: translateY(-100%);
}

.navbar_wrap {
  .navbar_contain {
    transition: padding variables.$duration-color-change variables.$ease-power2-out !important;
  }
}

[data-anm-navbar='bg'] {
  transition: opacity variables.$duration-color-change variables.$ease-power2-out,
    background-color variables.$duration-color-change variables.$ease-power2-out !important;
}

.navbar_wrap.is-scrolled-past {
  .navbar_contain {
    padding-top: var(--_spacing---space--1);
    padding-bottom: var(--_spacing---space--1);
  }

  [data-anm-flip-link='bg'] {
    background-color: var(--_theme---text) !important;
  }

  .w--current.is-active {
    color: var(--_theme---background) !important;
  }

  .u-blurry-bg-light {
    background-color: transparent !important;
  }

  @media (max-width: variables.$breakpoint-tablet) {
    .navbar_contain {
      padding-top: var(--_spacing---space--3);
      padding-bottom: var(--_spacing---space--3);
    }

    .w--current.is-active {
      background-color: var(--_theme---text) !important;
    }
  }
}

.navbar_wrap.is-transparent-light {
  color: var(--_theme---background) !important;

  [data-anm-flip-link='bg'] {
    background-color: var(--_theme---background) !important;
  }

  a.is-active {
    color: var(--_theme---text) !important;
    background-color: var(--_theme---background) !important;
  }

  [data-anm-navbar='bg'] {
    background-color: transparent !important;
    opacity: 0 !important;
  }

  .hamburger-nav__toggle-bar {
    color: var(--_theme---background) !important;
  }
}

.navbar_wrap.is-transparent-dark {
  color: var(--_theme---text) !important;

  a.is-active {
    color: var(--_theme---background) !important;
    background-color: var(--_theme---text) !important;
  }

  [data-anm-flip-link='bg'] {
    background-color: var(--_theme---text) !important;
  }

  [data-anm-navbar='bg'] {
    background-color: transparent !important;
    opacity: 0 !important;
  }
}

/* Mobile Navigation - Scaling Hamburger Styles */

/* Nav Dark BG */
.navigation__dark-bg {
  transition: all variables.$duration-color-change variables.$ease-power2-out;
}

.mobile_menu_wrap[data-navigation-status='active'] .navigation__dark-bg {
  opacity: 0.33;
  visibility: visible;
}

/* Nav Group BG  */
.hamburger-nav__bg {
  transition: all variables.$duration-color-change variables.$ease-power2-out;
}

.mobile_menu_wrap[data-navigation-status='active'] .hamburger-nav__bg {
  width: 100%;
  height: 100%;
}

/* Nav Group  */
.hamburger-nav__group {
  transition: all variables.$duration-color-change variables.$ease-power2-out,
    transform variables.$duration-color-change variables.$ease-power2-out;
  transform: scale(0.15) rotate(0.001deg);
  opacity: 0;
  visibility: hidden;
}

.mobile_menu_wrap[data-navigation-status='active'] .hamburger-nav__group {
  transform: scale(1) rotate(0.001deg);
  opacity: 1;
  visibility: visible;
}

/* Active Link  */
.hamburger-nav__a[aria-current] .hamburger-nav__p {
  opacity: 0.33;
}

/* Active Indicator  */
.hamburger-nav__dot {
  transition: all variables.$duration-color-change variables.$ease-power2-out;
  transform: scale(0) rotate(0.001deg);
  opacity: 0.5;
}

.hamburger-nav__a[aria-current] .hamburger-nav__dot {
  transform: scale(1) rotate(0.001deg);
  opacity: 1;
}

.hamburger-nav:has(.hamburger-nav__a:hover) .hamburger-nav__dot {
  transform: scale(0) rotate(0.001deg);
}

.hamburger-nav .hamburger-nav__a:hover .hamburger-nav__dot {
  transform: scale(1) rotate(0.001deg);
  opacity: 0.25;
}

/* Hamburger Button  */
.hamburger-nav__toggle {
  transition: transform variables.$duration-color-change variables.$ease-power2-out;
  transform: translate(0em, 0em) rotate(0.001deg);
}

.hamburger-nav__toggle .hamburger-nav__toggle-bar {
  transition: transform variables.$duration-color-change variables.$ease-power2-out;
  transform: translateY(-0.15em) rotate(0.001deg);
}

.hamburger-nav__toggle:hover .hamburger-nav__toggle-bar {
  transform: translateY(0.15em) rotate(0.001deg);
}

.mobile_menu_wrap[data-navigation-status='active'] .hamburger-nav__toggle .hamburger-nav__toggle-bar {
  transform: translateY(0em) rotate(45deg);
}

.hamburger-nav__toggle .hamburger-nav__toggle-bar:nth-child(2) {
  transition: transform variables.$duration-color-change variables.$ease-power2-out;
  transform: translateY(0.15em) rotate(0.001deg);
}

.hamburger-nav__toggle:hover .hamburger-nav__toggle-bar:nth-child(2) {
  transform: translateY(-0.15em) rotate(0.001deg);
}

.mobile_menu_wrap[data-navigation-status='active'] .hamburger-nav__toggle .hamburger-nav__toggle-bar:nth-child(2) {
  transform: translateY(0em) rotate(-45deg);
}
