@import '../styles/variables.scss';

.navbar_wrap {
  transform: translateY(0);
  transition: transform $duration-color-change $ease-power2-out,
    background-color $duration-color-change $ease-power2-out, backdrop-filter $duration-color-change $ease-power2-out !important;
}

.navbar_wrap.is-hidden {
  transform: translateY(-100%);
}

.navbar_wrap {
  .navbar_contain {
    transition: padding $duration-color-change $ease-power2-out !important;
  }
}

[data-anm-navbar='bg'] {
  transition: opacity $duration-color-change $ease-power2-out, background-color $duration-color-change $ease-power2-out !important;
}

.navbar_wrap.is-scrolled-past {
  .navbar_contain {
    padding-top: var(--_spacing---space--1);
    padding-bottom: var(--_spacing---space--1);
  }

  [data-anm-flip-link='bg'] {
    background-color: var(--_theme---text) !important;
  }

  .w--current.is-active {
    color: var(--_theme---background) !important;
  }

  .u-blurry-bg-light {
    background-color: transparent !important;
  }
}

.navbar_wrap.is-transparent-light {
  color: var(--_theme---background) !important;

  [data-anm-flip-link='bg'] {
    background-color: var(--_theme---background) !important;
  }

  a.is-active {
    color: var(--_theme---text) !important;
  }

  [data-anm-navbar='bg'] {
    background-color: transparent !important;
    opacity: 0 !important;
  }
}

.navbar_wrap.is-transparent-dark {
  color: var(--_theme---text) !important;

  a.is-active {
    color: var(--_theme---background) !important;
  }

  [data-anm-flip-link='bg'] {
    background-color: var(--_theme---text) !important;
  }

  [data-anm-navbar='bg'] {
    background-color: transparent !important;
    opacity: 0 !important;
  }
}
